
.logo{
    background-image: url('../images/wool.svg');
    background-repeat: no-repeat;
    background-size: 42px 40px;
    background-position: left;
    font-weight: bold;
}
.row{
    margin: 10px 10px 10px 10px;
}
.mini_pattern{
    margin: 15px;
}
.navbar{
    padding: 1.0rem 1rem;
}
.navbar-brand{
    margin-left: 26px;
}
.login-status{
    margin-right: 15px;
}
.bg-light {
     background-color: #ffffff!important; 
/*    border-color: #ababab40;
    border-style: solid;*/
}

